.main {
  margin-top: 20px;
  padding: 15px;
  display: flex;
  max-height: 100vh;
}

.users-container {
  min-width: 25%;
  max-width: 40%;
  background-color: #e9f3ff;
}

.chats-container {
  background-color: #d6e8ff;
  width: 100%;
}
